.btn {
    -fx-background-color: #2563eb;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 4, 0, 0, 2);
}

/* Hover */
.btn:hover {
    -fx-text-fill: white;
    -fx-background-color: #1d4ed8;
}

.btn-huy {
    -fx-background-color: #DC3545;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

.btn-huy:hover {
    -fx-text-fill: white;
    -fx-background-color: #C82333;
}

/* Nút Lưu – Xanh lá ngọc hiện đại */
.btn-luu {
    -fx-background-color: #20C997;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

.btn-luu:hover {
    -fx-text-fill: white;
    -fx-background-color: #17A589;
}

/* Nút Làm mới – Cam nhạt nổi bật */
.btn-lam-moi {
    -fx-background-color: #A0A0A0;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

.btn-lam-moi:hover {
    -fx-text-fill: white;
    -fx-background-color: #8C8C8C;
}