.btn {
    -fx-background-color: #2563eb;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 4, 0, 0, 2);
}

/* Hover */
.btn:hover {
    -fx-background-color: #1d4ed8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 6, 0, 0, 3);
}

/* Khi nhấn */
.btn:pressed {
    -fx-background-color: #1e40af;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 2, 0, 0, 1);
}