.header{
    -fx-background-color: #FFFFFF;
}

.button{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #2d3748;
    -fx-font-size: 14;
}

.button:hover{
    -fx-background-color: #E8F1FD;
    -fx-text-fill: #1366D9;
}

.active{
     -fx-background-color: #E8F1FD;
     -fx-text-fill: #1366D9;
}


